<template name="game">
	<div class="main-page container">

	<h1> Game Info: {{game.gameName}}</h1>

	<table class="table table-bordered score-table">
		<tr>
			<td class="nick-name table-title">
			Name
			</td>
			<td class="questions-left table-title">
			Questions Left
			</td>
			<td class="player-scores table-title">
			Score
			</td>
		</tr>

	{{#each players}}
		<tr>
			<td class="table-data nick-name">
			{{nickName}}
			</td>
			<td class="table-data questions-left">
			{{questionCounter}}
			</td>
			<td class="table-data player-scores">
			{{score}} {{#if bothFinished finished}} <a href="{{resultsLink _id}}"> <i class="fa fa-exclamation" aria-hidden="true"></i></a> {{/if}}
			</td>
		</tr>
	{{/each}}
	</table>
	{{#if inviteTime}}
	<h1> Invite Link</h1>
	{{#if game.shortURL}}
	<p class="join-link">
		{{game.shortURL}}
		<a href="{{tweetLink game.shortURL}}"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
	</p>
	{{else}}
	<p class="join-link">
		{{joinLink}}
		<a href="{{tweetLink joinLink}}"> <i class="fa fa-twitter" aria-hidden="true"></i> </a>
	</p>
	{{/if}}
	{{/if}}
	<div class="buttons-div">
	{{#if isLeader}}
	<button type="button" class="btn btn-primary {{startGameDisable}}" id="startGame">Start Game</button>
	{{/if}}
	<button type="button" class="btn btn-primary {{answerQuestionDisable}}" id="addQuestions">Answer Questions</button>

	<button type="button" class="btn btn-primary {{takeQuizDisable}}" id="doQuiz">Take Quiz</button>
	</div>
	</div>
</template>