.navbar {
	background-color: #66ccff;
}

.navbar{
	
}

.navbar-default .navbar-brand {
    color: #000;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-brand:hover {
    color: #111;
}

.navbar-default .navbar-nav:hover > li > a {
    color: #111;
}

#login-buttons {
	font-size: 20px;
	

}

