<template name="homePage">
<div class="main-page container">
    <row>
        <div class="col-xs-12">
            <h1>Quizzical</h1>
            <h3>Destroy your Friendship</h3>
        </div>
    </row> 
    <row>
        <div class="img-section col-xs-8 col-xs-offset-2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Question_mark_(black_on_white).png" />
        </div>
    </row>
   <row>
    <div class="key-words col-xs-8 col-xs-offset-2">
    <div class="col-xs-4">
        Ask
    </div>
     <div class="col-xs-4">
        Answer
    </div>
     <div class="col-xs-4">
        Discover
    </div>
    </div>
    </row>
    <row>
    <div class="body-paragraph col-xs-6 col-xs-offset-3">
    <p>
    Do stuff and other stuff. Stuff gets done when you do stuff =)
    </p>
    </div>
    </row>
   


</div>

</template>