<template name="homePage">
<div class="container">
  <div class="jumbotron frontpage">
    <h1>Destroy your Friendship</h1> 
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Question_mark_(black_on_white).png" />
    <table>
    	<tr>
    		<td>
    			Ask
    		</td>
    		<td>
    			Answer
    		</td>
    		<td>
    			Discover
    		</td>
    	</tr>

    </table>
    <p>
    Do stuff and other stuff. Stuff gets done when you do stuff =)
    </p>
   

 </div>
</div>

</template>