.main-page {
	background-color: #CADBE3;
	border-radius: 4px;
	padding : 16px;
}

.col-xs-12 h1 {
	text-align: center;
	font-size: 64px;
}

.col-xs-12 h3 {
	text-align: center;
	font-size: 48px;
}

.img-select img {
	margin:auto;
	display:block;
	width:80%;
	height:auto;
}

.key-words .col-xs-4 {
	font-size: 36px;
	text-align: center;
}

.body-paragraph p {
	margin-left: 15%;
	margin-right: 15%;
}


