 .join-instructions{
 	font-size:18px;
 }

 .group-name-header{
 	color: #166696;
 	text-align: center;
 	font-size: 32px;
 }

 .group-name{
 	color: #222222;
 	text-align: center;
 	font-size: 24px;
 	font-style: italic;
 }