<template name="join">
	<div class="main-page container">
	    <row>
	        <div class="col-xs-12">
	            <h3>Join a Game</h3>
	        </div>
	    </row>
	    <row>
	    <div class="col-xs-6 col-xs-offset-3">
	    <p>You have successfuly joined a game. You can now start answering questions about yourself. Once everyone has answered their questions, the game will start!</p>
	    </div>
	    </row>

	    <row>
	    <div class="col-xs-2 col-xs-offset-5">
	    <button type="button" class="btn btn-primary" id="join">Click Here to Join</button>
	   	<button type="button" class="btn btn-primary" id="begin">Click Here to Start Playing</button>
	    </div>
	    </row>
	</div>
	</template>