<template name="join">
	<div class="main-page container">
	    <row>
	        <div class="col-xs-12">
	            <h3>Join a Game</h3>
	        </div>
	    </row>
	    <row>
	    <div class="col-xs-8 col-xs-offset-2">
	    <p class="join-instructions">You have successfuly joined a game. You can now start answering questions about yourself. Once everyone has answered their questions, the game will start!</p>
	    </div>
	    </row>
	     <row>
	    <div class="col-xs-8 col-xs-offset-2">
	    <h3 class="group-name-header"> Group Name</h3>
	    <p class="group-name">{{gameName}}</p>
	    </div>
	    </row>
	    <row>
	    <div class="col-xs-2 col-xs-offset-5">
	    <button type="button" class="btn btn-primary join-button" id="join">Click Here to Join</button>
	    </div>
	    </row>
	</div>
	</template>