 <template name="newGame">
	<div class="main-page container">
	    <row>
	        <div class="col-xs-12">
	            <h3>Start a New Game</h3>
	        </div>
	    </row>
	    <row>
	    <div class="col-xs-6 col-xs-offset-3">
	    <p>To start a new game, click the button below. You will automatically be added and recieve a link for your friends to use to join. Good Luck!</p>
	    </div>
	    </row>

	    <row>
	    <div class="col-xs-4 col-xs-offset-4">
	    <input type="text" class="form-control" id="nickname" placeholder="Enter a nickname">
	    </div>
	    </row>

	    <row>
	    <div class="col-xs-2 col-xs-offset-5">

	   	<button type="button" class="btn btn-primary" id="newGame">Click Here to Begin</button>
	    </div>
	    </row>

	    <row>
	    <div class="col-xs-8 col-xs-offset-2">
	    <h3 class="link-title" id="link-title">Your Game Link</h3>
	    <p id="link"></p>
	    </div>
	    </row>
	</div>
</template>