<template name="answer">
<div class="main-page container">

   <row>
      <div class="col-xs-12">
         <h1>Quizzical</h1>
         <h3 id="question-text"></h3>
      </div>
   </row>
 <row>
       <div class="col-xs-8 col-xs-offset-2"> 
       <p class="instructions"> Answer the question truthfully and provide three false answers.</p>
       </div>
       </row> 
   <row>
           <div class="form-group">
            
            <div class="col-xs-8 col-xs-offset-2"> 
               <input type="text" class="form-control" id="correct" placeholder="Correct Answer">
            </div>
             
            <div class="col-xs-8 col-xs-offset-2"> 
               <input type="text" class="form-control" id="false1" placeholder="Incorrect Answer">
            </div>

             
            <div class="col-xs-8 col-xs-offset-2"> 
               <input type="text" class="form-control" id="false2" placeholder="Incorrect Answer">
            </div>

            
            <div class="col-xs-8 col-xs-offset-2"> 
               <input type="text" class="form-control" id="false3" placeholder="Incorrect Answer">
            </div>


               <div class="form-group">
                     <div class="buttons-group col-xs-offset-2 col-xs-10">

               <button class="btn btn-default new-button">New Question</button>
               <button class="btn btn-primary submit-button">Submit</button>
               <button class="btn btn-default back">Back to Game Page</button>
                </div>
            </div>
            <row>
              <div class="buttons-group col-xs-offset-2 col-xs-10">

               <p class="questions-counter">Questions Remaining: {{questionsLeft}}</p>
                </div>
            </row>
            
         </div>
       </row>
      


   
  
   
   


</div>
</template>