<template name="question">

<div class="jumbotron frontpage">
   <h1>Answer the question</h1>

   <h3> This a question. A question to be asked... Question? </h3>

   <ul>
   	<li>
   		<label><input type="radio" name="optradio">Option 1</label>
   	</li>
   	<li>
   		<label><input type="radio" name="optradio">Option 2</label>
   	</li>
   	<li>
   		<label><input type="radio" name="optradio">Option 2</label>
   	</li>
   	<li>
   		<label><input type="radio" name="optradio">Option 2</label>
   	</li>
   	</ul>
   

 </div>

</template>